/*-------------------------------------------------- BODY CSS*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #343a40;
  max-width: 100vw;
  overflow-x: hidden; /* impede rolagem horizontal */
}

/*-------------------------------------------------- HEADER CSS*/

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 400px;
  max-width: 90vw;
  height: auto;
}

/*-------------------------------------------------- MAIN CSS */

/* --- Estrutura base --- */
.section {
  padding: 20px 10px;
}

/* --- Container --- */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* --- Row & Columns --- */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.col {
  flex: 1;
}

.col--50 {
  flex: 0 0 50%;
}

.col--100 {
  flex: 0 0 100%;
}

.col--25 {
  flex: 0 0 25%;
}

.col--33 {
  flex: 0 0 33.33%;
}

/* --- Botão --- */
.button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  border-radius: 13px 13px 13px 13px;
  letter-spacing: 6.8px;
}

.button--primary {
  font-size: 2.4em;
  background-color: #003153;
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  fill: #f8f8f8;
  color: #f8f8f8;
  box-shadow: 6px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.button--primary:hover {
  background: #033b63;
}

.button--secundary {
  font-size: 1.8em;
  background-color: #003153;
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  fill: #f8f8f8;
  color: #f8f8f8;
  letter-spacing: normal;
  border-radius: 25px;
  margin-bottom: 16px;
  padding: 8px 25px;
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

button--secundary:hover {
  background: #033b63;
}

.align--left {
  text-align: left !important;
}

/*-------------------------------------------------- PRODUCT PRESENTATION */
.section--product-presentation {
  background: #ffffff;
}

.section--product-presentation .content {
  text-align: center;
}

/* --- Conteúdo de texto --- */
.section__title {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  color: #003153;
  font-weight: normal;
  font-weight: 600;
  line-height: 1;
}

.section__highlight {
  font-size: 1.5rem;
  color: #d4af37;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: 700;
}

.section__subtitle {
  font-size: 1.3rem;
  color: #003153;
  margin-bottom: 0.4rem;
  font-weight: normal;
  margin-top: 1rem;
  font-weight: 500;
}

/* --- Imagem e botão --- */
.media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__image-container {
  text-align: center;
}

.product__image {
  height: auto;
  margin-bottom: 1.5rem;
  max-width: 800px;
}

/* --- Responsividade --- */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    text-align: center;
  }

  .col--50 {
    flex: 0 0 100%;
  }

  .product__image {
    max-width: 100%;
  }
}

/*-------------------------------------------------- RECOMMENDATION DOCTOR SECTION CSS*/
.section--recommendationDoctor {
  padding: 40px 0px;
}

.section--recommendationDoctor .row {
  padding-bottom: 20px;
}

.recommendationDoctor__image-container {
  text-align: center;
}

.recommendationDoctor__image {
  height: auto;
  margin-bottom: 1.5rem;
  width: 100vh;
  max-width: 900px;
}

.section--recommendationDoctor svg {
  width: 80px;
  height: 80px;
  fill: #003153;
  margin-right: 10px;
}

.section--recommendationDoctor span {
  font-size: 1.3rem;
  color: #003153;
  font-weight: 600;
}

/* --- Responsividade --- */
@media (max-width: 768px) {
  .recommendationDoctor__image {
    max-width: 100%;
  }

  .section--recommendationDoctor svg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    justify-self: center;
  }

  .section--recommendationDoctor span {
    font-size: 1.1rem;
  }
}

/*-------------------------------------------------- DIVIDER SECTION CSS*/
.section--divider {
  text-align: center;
  padding: 10px 20px;
  max-height: 30px;
  margin-bottom: 10px;
  min-block-size: max-content;
}

.section--divider h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

.section--divider-FDA {
  background-color: #333333;
}

.section--divider-IGREDIENTES {
  background-color: #003153;
  margin: 0px;
}

/*-------------------------------------------------- GUARANTEES SECTION CSS*/

.section--guarantees {
  padding: 10px 0px;
}

.section--guarantees .guaranteesLogos__image {
  width: 100%;
  max-width: 800px;
  margin-bottom: 15px;
}

.section--guarantees .guarantees90__image {
  width: 300px;
  padding: 0px;
  margin-bottom: 15px;
}

.section--guarantees .section__title--guarantees {
  font-size: 1.7rem;
  color: #003153;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: center;
}

.section--guarantees .section__subtitle--guarantees {
  font-size: 1.5rem;
  color: #003153;
  margin-bottom: 20px;
  padding: 0px 20px;
  font-weight: 500;
  text-align: center;
}

.row--center {
  justify-self: center;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .section--guarantees .guarantees90__image {
    width: 180px;
  }
}

/*-------------------------------------------------- END GUARANTEES SECTION CSS */

/*-------------------------------------------------- START IGREDIENTS SECTION CSS --- */
.section--igredients {
  margin: 0px;
  padding: 0px;
}

.section--igredients .container {
  max-width: 1200px;
  text-align: -webkit-center;
}

.row--full {
  width: 100%;
}

.igredients_texts {
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0px 10px;
}

.col--igredients {
  flex: 0 0 100%;
  padding: 0px 10px;
}

.igredients__image {
  width: 100%;
  max-width: 800px;
  margin-bottom: 15px;
}

.section__title--igredients {
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  text-shadow: 0 0 0 rgb(0 0 0 / 0.3);
  color: #00886d;
}

.section__title--igredients2 {
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  text-shadow: 0 0 0 rgb(0 0 0 / 0.3);
  color: #376581;
}

.section__subtitle--igredients {
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
  text-shadow: 0 0 0 rgb(0 0 0 / 0.3);
  color: #7a7a7a;
  font-size: 1rem;
}

.paragraph--spam {
  font-weight: bold;
}

.igredients_texts p {
  text-align: center;
  color: #7a7a7a;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .col--igredients {
    width: 100vw;
    padding: 0px;
  }

  .igredients_texts p {
    text-align: left;
  }
}

/*-------------------------------------------------- END IGREDIENTS SECTION CSS --- */

/*-------------------------------------------------- START MAKES DIFERENCE SECTION CSS --- */
.section--makes-diference {
  margin: 0px;
  padding: 0px;
}

.section--makes-diference .container {
  max-width: 1200px;
  text-align: -webkit-center;
}

.row--full {
  width: 100%;
}

.makes-diference_texts {
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0px 10px;
}

.col--makes-diference {
  flex: 0 0 100%;
  padding: 0px 10px;
}

.makes-diference__image {
  width: 100%;
  max-width: 800px;
  margin-bottom: 15px;
}

.section__title--makes-diference {
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  text-shadow: 0 0 0 rgb(0 0 0 / 0.3);
  color: #00886d;
}

.makes-diference_texts p {
  text-align: center;
  color: #7a7a7a;
}

.section__subtitle--makes-diference {
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
  text-shadow: 0 0 0 rgb(0 0 0 / 0.3);
  color: #7a7a7a;
  font-size: 1rem;
}

.section--divider-makes-diference {
  background-color: #003153;
  margin: 0px;
}

@media (max-width: 768px) {
  .col--makes-diference {
    width: 100vw;
    padding: 0px;
  }

  .makes-diference_texts p {
    text-align: left;
  }
}
/*-------------------------------------------------- END MAKES DIFERENCE SECTION CSS --- */

/*-------------------------------------------------- ANIMATION CSS*/
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}
.animate-pulse-custom {
  animation: pulse 1.5s infinite;
}

.ofert-container {
  margin-bottom: 20px;
  justify-items: center;
}

/* -------------------------------------------------- END ANIMATION CSS*/

/*-------------------------------------------------- START PRODUCT CARD CSS*/

.product-card {
  border: 1px solid #ddd;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  border-radius: 12px;
  min-width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card__content {
  margin: 20px;
}

/* efeito ao passar o mouse */
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-card__image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 15px;
  background-color: #f1f1f1;
}

.product-card__title {
  font-size: 1.2rem;
  color: #d4af37;
  margin-bottom: 10px;
  font-weight: 600;
}

.product-card__description {
  font-size: 0.9rem;
  color: #003153;
  margin-bottom: 15px;
  font-weight: 500;
}
.product-card__span {
  font-size: 1.4rem;
  background-color: #004d7b;
  padding: 3px;
  border-radius: 5px;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 600;
}
.product-card--diveder {
  border-top: 1px solid #9b9b9b;
  margin: 25px 10px;
}

.product-card__price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.product-card__price {
  font-size: 3rem;
  color: #003153;
  font-weight: 700;
}

.product-card__txt {
  font-size: 1rem;
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
}

.product-card__price-container .row {
  justify-content: center;
  width: 100%;
}

.product-card__per__month {
  font-size: 2.4rem;
  font-family: "Montserrat", Sans-serif;
  color: #003153;
  font-weight: 300;
  line-height: 40px;
}

@media (max-width: 768px) {
  .product-card {
    min-height: 70vh;
  }
}

/* -------------------------------------------------- END PRODUCT CARD CSS*/

/*-------------------------------------------------- START ABOUT US CSS*/

.section--about__us {
  margin: 0px;
  padding: 0px;
}

.section--about__us .container {
  max-width: 1200px;
  text-align: -webkit-center;
}

.row--full {
  width: 100%;
}

.about__us_texts {
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0px 10px;
}

.col--about__us {
  flex: 0 0 100%;
  padding: 0px 10px;
}

.about__us__image {
  width: 100%;
  max-width: 800px;
  margin-bottom: 1px;
}

.section__title--about__us {
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  text-shadow: 0 0 0 rgb(0 0 0 / 0.3);
  color: #004d7b;
  margin-top: -10px;
}

.section__title--about__us2 {
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  text-shadow: 0 0 0 rgb(0 0 0 / 0.3);
  color: #376581;
}

.section__subtitle--about__us {
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
  text-shadow: 0 0 0 rgb(0 0 0 / 0.3);
  color: #7a7a7a;
  font-size: 1rem;
}

.about__us_texts p {
  text-align: center;
  color: #7a7a7a;
}

.section--about__us {
  display: none;
}
.section--divider--about__us {
  display: none;
}

.no-gap {
  gap: 0px;
  margin-bottom: 5px;
}

.description__image {
  color: #7c7c7c;
  font-size: 0.7em;
  margin-bottom: 10px;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .section--about__us {
    display: block;
  }
  .section--divider--about__us {
    display: block;
  }
}

/* -------------------------------------------------- END ABOUT US CSS*/

/*-------------------------------------------------- START FOOTER CSS*/

.footer {
  background-color: #333;
  color: #afafaf;
  padding: 5px 0px;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .section--about__us {
    display: block;
  }
  .section--divider--about__us {
    display: block;
  }
  .footer {
    padding: 0px 0px 30px 0px;
  }
}

/* -------------------------------------------------- END FOOTER CSS*/
