/*-------------------------------------------------- BODY CSS*/

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #343a40;
  max-width: 100vw;
}

/*-------------------------------------------------- HEADER CSS*/

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 400px;
  max-width: 90vw;
  height: auto;
}

/*-------------------------------------------------- MAIN CSS */

/* --- Estrutura base --- */
.section {
  padding: 20px 10px;
}

/* --- Container --- */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* --- Row & Columns --- */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.col {
  flex: 1;
}

.col--50 {
  flex: 0 0 50%;
}

/* --- Botão --- */
.button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  border-radius: 13px 13px 13px 13px;
  letter-spacing: 6.8px;
}

.button--primary {
  font-size: 2.4em;
  background-color: #003153;
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  fill: #f8f8f8;
  color: #f8f8f8;
  box-shadow: 6px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.button--primary:hover {
  background: #023e8a;
}

/*-------------------------------------------------- PRODUCT PRESENTATION */
.section--product-presentation {
  background: #ffffff;
}

.section--product-presentation .content {
  text-align: center;
}

/* --- Conteúdo de texto --- */
h2.section__title {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  color: #003153;
  font-weight: normal;
  font-weight: 600;
  line-height: 1;
}

.section__highlight {
  font-size: 1.5rem;
  color: #d4af37;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: 700;
}

.section__subtitle {
  font-size: 1.3rem;
  color: #003153;
  margin-bottom: 0.4rem;
  font-weight: normal;
  margin-top: 1rem;
  font-weight: 500;
}

/* --- Imagem e botão --- */
.media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__image-container {
  text-align: center;
}

.product__image {
  height: auto;
  margin-bottom: 1.5rem;
  max-width: 800px;
}

/* --- Responsividade --- */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    text-align: center;
  }

  .col--50 {
    flex: 0 0 100%;
  }

  .product__image {
    max-width: 100%;
  }
}

/*-------------------------------------------------- RECOMMENDATION DOCTOR SECTION CSS*/
.section--recommendationDoctor {
  padding: 40px 0px;
}

.section--recommendationDoctor .row {
  padding-bottom: 20px;
}

.recommendationDoctor__image-container {
  text-align: center;
}

.recommendationDoctor__image {
  height: auto;
  margin-bottom: 1.5rem;
  width: 100vh;
  max-width: 900px;
}

.section--recommendationDoctor svg {
  width: 80px;
  height: 80px;
  fill: #003153;
  margin-right: 10px;
}

.section--recommendationDoctor span {
  font-size: 1.3rem;
  color: #003153;
  font-weight: 600;
}

/* --- Responsividade --- */
@media (max-width: 768px) {
  .recommendationDoctor__image {
    max-width: 100%;
  }

  .section--recommendationDoctor svg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .section--recommendationDoctor span {
    font-size: 1.1rem;
  }
}

/*-------------------------------------------------- DIVIDER SECTION CSS*/
.section--divider {
  text-align: center;
  padding: 10px 20px;
  max-height: 30px;
  margin-bottom: 10px;
  min-block-size: max-content;
}

.section--divider h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

.section--divider-FDA {
  background-color: #333333;
}

.section--divider-IGREDIENTES {
  background-color: #003153;
}

/*-------------------------------------------------- GUARANTEES SECTION CSS*/

.section--guarantees {
  padding: 10px 0px;
}

.section--guarantees .guaranteesLogos__image {
  width: 100%;
  max-width: 800px;
  margin-bottom: 15px;
}

.section--guarantees .guarantees90__image {
  width: 300px;
  padding: 0px;
  margin-bottom: 15px;
}

.section--guarantees .section__title--guarantees {
  font-size: 1.7rem;
  color: #003153;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: center;
}

.section--guarantees .section__subtitle--guarantees {
  font-size: 1.5rem;
  color: #003153;
  margin-bottom: 20px;
  padding: 0px 20px;
  font-weight: 500;
  text-align: center;
}

.row--center {
  justify-self: center;
}

/* --- Responsividade --- */
@media (max-width: 768px) {
  .section--guarantees .guarantees90__image {
    width: 180px;
  }
}

/*-------------------------------------------------- FOOTER CSS*/
